
{% extends "base.jinja" %}
{% import "lib.jinja" as lib %}
{% block title  %}{{game.title}}{% endblock %}
{% block title2 %}{{game.title}}{% endblock %}
{% block content %}

<div id='game_cont'>

<div class='game_header'>
  <ul>
  <li>{{lichess_link(game, game.event)}}</li>
  <li>{{game.date_.strftime('%Y-%m-%d')}}</li>
  <li>{{game.time_control}}</li>
  <li>{{game.white_name}}</li>
  <li>{{game.black_name}}</li>
  <li>{{game.termination}}</li>
  <li>{{game.result}}</li>
  </ul>
</div>
  {{lib.js_board(fens, 300 ) }}
</div>

<div class='inblock'>
<div class='chessboard'><span class='board_title'>
    <a href='/opening/var/{{opening.openingid}}'>{{opening.eco_name}}</a></span></br>
    {{ opening.fen.to_svg(250) }} </div>

<div class='chessboard'><span class='board_title'>
    <a href='/pawns/{{pawn.kclass}}'>pawn group: #{{pawn.kclass}}</a></span></br>{{
    pawn.centroid.to_svg(250) }} </div>

<div class='chessboard'><span class='board_title'>
    <a href='/mg/{{mg.kclass}}'>white mg system: #{{mg.kclass}}</a></span></br>{{
    mg.centroid.to_svg(250) }} </div>
<br/>

<div class='chessboard'><span class='board_title'>pawn formation</span></br>{{ pawn.selected.to_svg(250) }} </div>
{%if gamestate.mg %}
<div class='chessboard'><span class='board_title'>middle game</span></br>{{ gamestate.mg.to_svg(250) }} </div>
{% endif %}
{%if gamestate.eg %}
<div class='chessboard'><span class='board_title'>end game</span></br>{{ gamestate.eg.to_svg(250) }} </div> 
{% endif %}
<div class='chessboard'><span class='board_title'>last position</span></br>{{ gamestate.last.to_svg(250) }} </div>
<br/>

</div>

{% endblock %}

