{% extends "base.jinja" %}
{% block title %}Stastical Learning in Chess{% endblock %}
{% block title2 %}Contents{% endblock %}
{% block content %}

    <ul>
    <li><a href='openings'>Openings</a></li>

    <li><a href='pawns'>Canonical Pawn Positions</a></li>

    </ul>

{% endblock %}

