{% include "header.jinja" %}
<body>
    <h1>The Chess Index</h1>
    <script src="s/js/json3.min.js"></script>
    <script src="s/js/jquery-1.10.1.min.js"></script>
    <script src="s/js/chessboard.js"></script>

    {{ svg(query) }}

    <br/>
    {% for pos in results %}
        <div style='float:left'>
            {{ svg(pos, 50) }}
        </div>
    {% endfor %}

the end
</body>
</html>
