{% extends "base.jinja" %}
{% block title %}Stastical Learning in Chess{% endblock %}
{% block title2 %}Contents{% endblock %}
{% block content %}

<br>
<ul>
  <li><a href='openings'>Openings</a></li>
  <li><a href='pawns'>Pawn Formations</a></li>
  <li><a href='mg'>Middle Game Systems</a></li>
</ul>

{% endblock %}

