

{% extends "base.jinja" %}
{% block title %}{{ title }} #{{kmode.kclass}}{% endblock %}
{% block title2 %}{{ title }} #{{kmode.kclass}} {% endblock %}
{% block content %}

<div class='inblock'>
<h4>centroid # {{ kmode.kclass}}</h4>
{{ kmode.centroid.to_svg(400) }}
</div>

<div class='inblock'>
<table>
    <tr><td>count</td><td>{{ kmode.count }}</td></tr>
    <tr><td>hamming avg</td><td>{{ kmode.avg}}</td></tr>
    <tr><td>hamming se</td><td>{{ kmode.stddev}}</td></tr>
    </table>
</div>


<div class='inblock'>
<h4>top opening systems</h4>
<table>
    <tr><td>n</td><td>%</td><td>system</td></tr>
    {% for row in eco %}
    <tr>
        <td>{{row.count}}</td><td>{{row.group }}</td>
        <td>
            <a class='hovershow' href="/opening/var/{{row.openingid}}">
              {{row.eco_name}}
              {% if row.fen %}
                {{ row.fen.to_svg(400) }}
              {% endif %}
            </a> 
        </td>
    </tr>
    {% endfor %}
</table>
</div>

<div class='inblock'>
<h4>top opening variations</h4>
<table>
    <tr><td>n</td><td>%</td><td>variation</td></tr>
    {% for row in var1 %}
    <tr>
        <td>{{row.count}}</td><td>{{row.group }}</td>
        <td>
            <a class='hovershow' href="/opening/var/{{row.openingid}}">
              {{row.eco_name}}
              {% if row.fen %}
              {{ row.fen.to_svg(400) }}
              {% endif %}
            </a> 
        </td>
    </tr>
    {% endfor %}
</table>
</div>



<div style='clear:both;'/>

{% for pos in games %}

  <div class='inblock'>
   {{ game_link(pos) }}
    <span class='board_header'>
      {{pos.site}} {{pos.hamming}} {{pos.jaccard}}
    </span>
    <br/>
        {{ pos.selected.to_svg(250, comp=pos.centroid)}}
    </div>

{% endfor %}

{% endblock %}

