{% macro opening_board(row, size, h, show_opening, show_var1, show_var2, link) %}

<div class='chessboard'>

<{{h}}
{% if link%}
 id={{row.var1 | urlencode}}
{% endif %}
>
{% if show_opening %}
{{row.eco }} {{row.opening}}
{% endif %}

{% if show_var1%}
{{row.eco }} {{row.var1}}
{% endif %}

{% if show_var2%}
<br/> {{row.subname}}
{% endif %}

<br/>
cnt: {{row.system_cnt }} rtg: {{row.rating_mu}} w% {{row.win}}

</{{h}}>
  {{ row.fen.to_svg(size)}}
  <br/>
  <div class='pgn' style='width:{{size}}px'>
    {{row.moves}}
  </div>
</div>

{% endmacro %}


{% macro game_board(game, size) %}

<div class='chessboard'>
 <h4>
   {{ game.white }}
   <br/>{{ game.black }}
   <br/><a href="http://lichess.org/site/{{game.site}}"> {{ game.h2}} </a>
 </h4>
  {{ game.fen.to_svg(size)}}
</div>

{% endmacro %}


{% macro position_board(board, size) %}

<div class='chessboard'>
 <h4>
   {{ game.white }}
   <br/>{{ game.black }}
   <br/><a href="http://lichess.org/site/{{game.site}}"> {{ game.h2}} </a>
 </h4>
  {{ game.board.to_svg(size)}}
</div>

{% endmacro %}


{% macro js_board(positions, size, idx=0, style='') %}


<div id='js_chessboard' class='chessboard'
{%if style %}
 style='{{style}}'
{% endif %}
>

<svg onload="brython(); setTimeout(init_chessboard, 300)" id='chessboard' baseprofile="full" vresion="1.1" width="{{size}}" height="{{size}}" viewbox="-5,0,69,76" 
  xmlns="http://www.w3.org/2000/svg" 
  xmlns:xlink="http://www.w3.org/1999/xlink">

  <use xlink:href="#thechessboard1"></use>
  <use xlink:href="#chessboard_legend"></use>
  <g id='board_pieces' transform="scale(0.143)" 
    data-state = '{{idx}}'
    data-fens ='
    {% for fen in positions %}
    {{fen}}
    {% endfor %}'
  ></g>
</svg>
<br>
  <div id='button_holder'>
    <button class='chessboard' id="first_move">&lt;&lt;</button>
    <button class='chessboard' id="prev_move">&lt;</button>
    <button class='chessboard' id="next_move">&gt;</button>
    <button class='chessboard' id="last_move">&gt;&gt;</button>
  </div>
</div>

<script type='text/javascript' src='https://cdn.rawgit.com/brython-dev/brython/3.6.2/www/src/brython.js' ></script>
<script type="text/python" src="/brython/svg_board.py"></script>
<script type="text/javascript">
  function init_chessboard() {
      var obj = window.first_move();
  }
  document.onkeydown = function (e) {
    switch (e.char || e.keyCode) {
      case 190: window.next_move();  break; 
      case 188: window.prev_move();  break;
    }
  }
</script>

{% endmacro %}
