
{% extends "base.jinja" %}
{% import "lib.jinja" as lib %}
{% block title %}Opening - {{opening.eco_name}}{% endblock %}
{% block title2 %}Opening - {{opening.eco_name}}{% endblock %}
{% block content %}

  {{ lib.opening_board(opening, 350, 'h3', True, False, False, False) }}
  <br/>

<h3>Random games with the '<span class='smaller'>{{opening.eco_name}}</span>' opening ...</h2><br/>
  {% for game in games %}

   <div class='chessboard'>
   {{ game_link(game) }}
   <br/>
   {{ game.mg.to_svg(250)}}
   </div>

  {% endfor %}

{% endblock %}

