
{% extends "base.jinja" %}
{% block title %}Opening Systems{% endblock %}
{% block title2 %}Opening Systems{% endblock %}
{% block content %}

<div style='clear:both;'/>

{% for row in eco %}

  <div class='chessboard'>
  <h4><a href="/openings/{{row.name}}">{{ row.name}}</a></h4>
  <br/>
    {{ row.fen.to_svg(250)}}
  </div>

{% endfor %}

{% endblock %}

