

{% extends "base.jinja" %}
{% block title %}Kmode class={{pawn.id}}{% endblock %}
{% block title2 %}{% endblock %}
{% block content %}

<div style='float:left'>
<h4>pawn centroid # {{ pawn.pclass  }}</h4>
<table>
    <tr><td>count</td><td>{{ pawn.count }}</td></tr>
    <tr><td>hamming avg</td><td>{{ pawn.avg}}</td></tr>
    <tr><td>hamming se</td><td>{{ pawn.stddev}}</td></tr>
    </table>
</div>

<div style='float:left'>
<h4>top opening systems</h4>
<table>
    {% for row in eco %}
        <tr><td>{{row.count}}</td><td> {{row.system}}</td></tr>
    {% endfor %}
</table>
</div>

<div style='float:left;'>
{{ pawn.pawn_centroid.to_svg(400) }}
</div>

<div style='clear:both;'/>

{% for pos in rows %}

  <div style='float:left;'>
    <span class='board_header'>
      {{pos.site}} {{pos.hamming}} {{pos.jaccard}}
    </span>
    <br/>
        {{ pos.pawns.to_svg(250, comp=pos.pawn_centroid)}}
    </div>

{% endfor %}

{% endblock %}

