

{% extends "base.jinja" %}
{% block title %}Kmode class={{rows[0].id}}{% endblock %}
{% block title2 %}{% endblock %}
{% block content %}

<div style='float:left'>
<h4>pawn centroid # {{ rows[0].pclass  }}</h4>
<table>
    <tr><td>count</td><td>{{ rows[0].count }}</td></tr>
    <tr><td>hamming avg</td><td>{{ rows[0].avg}}</td></tr>
    <tr><td>hamming se</td><td>{{ rows[0].stddev}}</td></tr>
    </table>
</div>

<div style='float:left'>
<h4>top opening systems</h4>
<table>
    {% for row in eco %}
        <tr><td>{{row.count}}</td><td> {{row.system}}</td></tr>
    {% endfor %}
</table>
</div>

<div style='float:left;'>
{{ rows[0].board.to_svg(400).tostring() }}
</div>

<div style='clear:both;'/>
{% for pos in rows %}

  <div style='float:left;'>
    <span class='board_header'>
      {{pos.site}} {{pos.hamming}} {{pos.jaccard}}
    </span>
    <br/>
        {{ pos.to_svg(250)}}
    </div>

{% endfor %}

{% endblock %}

