
* {
        margin:  0; 
        padding: 0; 
        font-family: "Consolas", mono-space; 
        line-height: 1.5;
        color:#1e1e2f;
        /*stroke-width: 2.5px;*/
        /*background: #efeff5;*/
}

td.number {
    text-align: right;
    padding-left: 1em;
}


h1,p {
    padding: 1em;
    margin: .5em;
}

td, table, h3, h4, h5, ul  {
    padding: .2em;
    margin-left: 1%;
}

h3, h4, h5 {
    padding-left: 2em;
    padding-bottom: .5em;
}


a {
    color: #52527a;
}
h1 a {
    text-decoration: none;
}

#header_title{ 
    font-size: smaller; 
}

.board_header {
  color: #0099e6;
  padding-left: 1em;

}

.inblock {
    display: inline-block;
    margin-left : 2em;
    margin-right: 2em;
}

.spread{
    padding-right: 1em;
}


/*  chessboard */

.chessboard {
    display: inline-block;
    vertical-align: top;
}

.pgn {
  display:inline-block; 
  vertical-align: top; 
  margin-left:2em; 
  margin-bottom:1em;
  margin-top:0em;
  padding-top:0em;
}


.blacksquare { fill:  #f2f2f2; }
.whitesquare { fill: #b3b3b3; }

.blacksquare { fill:  #f5f5f5; stroke:black; stroke-width:.1px; }
.whitesquare { fill: none; stroke:gray; stroke-width:.2px; }

circle {
    opacity: .33;
}

/*
a {fill : blue }
a:hover { cursor: pointer }
*/

.title{ font-size: 4px; }
.caption{ font-size: 2px;}
.legend{ font-size: 2px;}
.labels text {  font-size: 2px; opacity:.5 }
.circles { fill:none; stroke-width:1px; stroke:blue; opacity:.3; stroke-width:.5px}
.arrows { fill:blue; stroke:blue; stroke-width:2px; opacity:.5}
.arrowhead {fill:blue; stroke:blue; opacity:.5, stroke-widith:0; }
