
body {
font-family: Consolas, monospace;
}

/* white square */
.white-1e1d7 {
  background-color: #c6bba7;
  color: #b58863;
}

/* black square */
.black-3c85d {
  background-color: #8c7b5b;
  color: #f0d9b5;
}
